@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --bg-main: #21203A;
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Source Code Pro", monospace;
    --nav-font: "GFS Neohellenic", sans-serif;
}

.body{
    background-color: var(--bg-main);
    font-family: var(--title-font);
}

.title{
    color: white;
}

.main{
    margin-left: 2px;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #1C1B31;  
}

.admin_img1 {
   
    max-width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 

form{
    width: 90%;
    margin: 0 auto;  
}

form input::placeholder {
    color: #5B598C !important;
   
}













