@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --bg-main: #21203A;
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Source Code Pro", monospace;
    --nav-font: "GFS Neohellenic", sans-serif;
    --cardcolor: #1C1B31;
    --primary-bg: #21203a;
    --secondary-bg: #272640;
    --card-bg: #00000015;
    --input-color: #5b598c75;
}

.body {
    background-color: var(--bg-main);
    font-family: var(--title-font);
    color: white;
}

.container .row{
    background-color: var(--cardcolor);
    border-radius: 20px;
}

.container{
    margin-top: 100px;
}

.container img{
    margin: 0 auto;
}

.resetBtn{
    background-color: var(--secondary-bg) !important;
    color: white;
    border: none !important;
}