@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Source Code Pro", monospace;
    --nav-font: "GFS Neohellenic", sans-serif;
}