@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Source Code Pro", monospace;
    --nav-font: "GFS Neohellenic", sans-serif;
    --textColor:white;
    --navColor:#25243f;
    --bgcolor:#282744;
    --cardcolor:#1C1B31;
}

.body{
    background-color: var(--bgcolor);
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--navColor);
    font-family: var(--nav-font);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header .logo img{
    width: 50px;
    height: 50px;
}

.header .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.3rem;

}


.navbar .list ul{
    display: flex;
    list-style: none;
    margin-right: 25px;
    padding: 0;
}

.navbar .list ul li{
    padding: 10px;
    padding-top: 25px;
    transition: 0.6s;
}

.navbar .list ul li:hover{
    background-color: var(--navColor);
    color: #7676f2;
    font-weight: bold;

}

.navbar .list{
    display: flex;
    justify-content: cneter;
    align-items: center;
}

.navbar .navBtn{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}

.navbar .navBtn button{
    background-color: transparent;
    color: whitesmoke;
    font-family: var(--nav-font);
    border: 2px solid #444278;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 10px;
}

.navbar .navBtn .logInBtn:hover,
.navbar .navBtn .signUpBtn:hover{
    background-color: #3e3c72;
    color: white;
}

/* ========Main Content=========== */

.main{
    width: 1300px;
    margin: 0 auto;
}

.main .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.container .rightContainer{
    border-radius: 15px;
}

.container .rightContainer img{
    width: 500px;
    height: 700px;
    border-radius: 15px;
}


.main .container .leftContainer{
    max-width: 500px;
    padding: 20px;
}

.main .container .leftContainer h1,
.main .container .leftContainer p{
    margin: 15px 0;
    color: white;
    font-family: var(--title-font);
}
.main .container .leftContainer h1{
    font-size: 3rem;
    text-shadow: 4px 3px 7px #5e5ad8;
}

.main .container .leftContainer p{
    font-size: 20px;
    font-family: var(--paragraph-font);
    letter-spacing: -1px;
}

/* The Program we offer */
.offerProgram{
    max-width: 1300px;
    margin: 0 auto;
    color: white; 
    margin-bottom: 3rem;
}

.offerProgram p{
    text-align: center;
    font-size: 2rem;
    font-family: var(--paragraph-font);
    font-weight: 400;
    text-shadow: 5px 5px 5px #5e5ad8 ;
}

.offerProgram .tanker{
    display: flex;
    gap: 20px;
}

.offerProgram .tanker .courseCard{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    gap: 5px;
    border-radius: 15px;
    background-color:var(--cardcolor);
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.814);
}

.offerProgram .tanker .courseHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    gap: 10px;
}

.offerProgram .tanker .courseHead img{
    width: 200px;
}

.offerProgram .tanker .courseHead p{
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    font-family: var(--title-font);
   
}

.offerProgram .tanker .courseline p{
    font-size: 20px;
    font-weight: 200;
    text-shadow: none;
    font-family: var(--nav-font);
}

/* Why should you choose us */
.chooseUs{
    background-color:var(--navColor) ;
    padding: 10px 5px;
    color: white;
    margin: 20px 0;
}

.chooseUs .tanker{
    width: 600px;
    margin: 20px auto;
}

.chooseUs .tanker h1{
    text-align: center;
}

.chooseUs .tanker p{
    font-size: 25px;
    text-align:center;
    font-family: var(--nav-font);
}

/* Testiminials */
.testimonial{
    color: white;
}

.testimonial .card{
    color: white;
    background-color: var(--cardcolor);
}

.testimonial p{
    font-family: var(--paragraph-font);
}


/* Contact Us */
.sub-card{
    background-color: #1C1B31;
}

.contact{
    font-family: var(--paragraph-font);
    max-width: 1300px;
    max-height: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .send-btn {
    font-family: var(--title-font);
}

/* footer */
.foot{
    background-color: var(--navColor);    
}

.foot .tanker{
    display: flex;
    justify-content: space-around;    
}

.foot .tanker p{
    color: white;
    margin-top: 10px;
    font-weight: bold;
    font-family: var(--title-font);
}

.chooseUs .tanker button{
    margin: 0 auto;
    display: block;
    width: 170 px;
    height: 40px;
    background-color: #5e5ad8;
    color: whitesmoke;
    font-size: 20px;
    border: none;
    padding: 5px;
    cursor: pointer;
}



